In [1]:
import pandas as pd

In [5]:
# Question 1

series = [4, 8, 15, 16, 23, 42]
pd_series = pd.Series(series)

print(type(pd_series), pd_series)

<class 'pandas.core.series.Series'> 0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
# Question 2

variable = list(range(10))
pd.Series(variable)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [14]:
# Question 3 

data = {"name" : ["Alice", "Bob", "Claire"], 
       "Age" : [25, 30, 27],
       "Gender" : ["Female", "Male", "Female"]}

df = pd.DataFrame(data)
print(df)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [13]:
# Question 4 

""" Pandas Data frame is a combination of rows and columns displayed as a 2-D matrix where each column is a pandas series.
Pandas Series is a uni dimensional indexed object where as dataframe is 2 dimensional."""

# Example of Series 

series = pd.Series(list(range(5)))
print(series, type(series))

0    0
1    1
2    2
3    3
4    4
dtype: int64 <class 'pandas.core.series.Series'>

In [16]:
# Example of dataframe 

print(type(df), '\n', df)

<class 'pandas.core.frame.DataFrame'>
      name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Question 5

 Here are some of the functions we can use in pandas to manipulate data. 
1. isna() : The isna() function is used to check the number of null values or missing data in a data frame.
2. drop() : This function is used to drop rows or even columns with the help of index or some condition.
3. value_counts() : It is used to get the number of counts for each value in a particular column or series.
4. describe() : It is used to calculate the summary statistics for a dataframe mainly for the numeric columns but object dtypes can also be included.

### Question 6

All the pandas objects "DataFrame", "Series", and "Panel" are mutable

In [18]:
# Question 7 

series1 = pd.Series([1,2,3,4,5,6,7,8,9])
series2 = pd.Series(['name','hello','hii','you','are','I','myself','yours','get'])
series3 = pd.Series([23,45,67,54,32,1,2,32,100])

In [19]:
pd.DataFrame({"col1":series1, "col2":series2, "col3":series3})

   col1    col2  col3
0     1    name    23
1     2   hello    45
2     3     hii    67
3     4     you    54
4     5     are    32
5     6       I     1
6     7  myself     2
7     8   yours    32
8     9     get   100