### **Ans1 :** 

A database is an organized collection of data that can be easily accessed, managed and updated.

SQL (Structured Query Language) databases are relational databases that use tables to store data. SQL databases have a pre-defined schema, and all data stored in the database must adhere to that schema. SQL databases are generally best suited for applications that require complex querying, transactions, and data consistency. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL (Not Only SQL) databases are non-relational databases that do not use tables to store data. Instead, they use a variety of data models, such as key-value pairs, documents, and graphs. NoSQL databases are generally best suited for applications that require scalability, flexibility, and speed. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

### **Ans2 :**

DDL stands for Data Definition Language and is used to define the database schema or structure. It includes statements used to create, modify and delete database structures such as tables, indexes, views, sequences, and other related database objects.

1.  The CREATE statement is used to create a new database object such as a table, index, or view. For example, the following statement creates a new table named "users": 

CREATE TABLE users (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(100)
);

2.  The DROP statement is used to delete a database object such as a table or view. For example, the following statement deletes the "users" table:

DROP TABLE users;

3. The ALTER statement is used to modify the structure of an existing database object. For example, the following statement adds a new column named "phone" to the "users" table:

ALTER TABLE users ADD phone VARCHAR(20);

4. The TRUNCATE statement is used to delete all data from a table, but keeps the table structure intact. It is faster than the DELETE statement as it does not log individual row deletions. For example, the following statement deletes all data from the "users" table:

TRUNCATE TABLE users;

### **ANS 3:** 

DML stands for Data Manipulation Language, which is a subset of SQL that deals with data manipulation operations such as inserting, updating, and deleting records in a database.

1. INSERT: The INSERT statement is used to add new records to a table. The syntax for INSERT statement is as follows:

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

2. UPDATE: The UPDATE statement is used to modify existing records in a table. The syntax for UPDATE statement is as follows:

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

3. DELETE: The DELETE statement is used to delete existing records from a table. The syntax for DELETE statement is as follows:

DELETE FROM table_name WHERE condition;

### **ANS 4:**

DQL stands for Data Query Language, which is used to retrieve data from a database. The most commonly used DQL statement is SELECT, which retrieves data from one or more tables based on certain criteria.

The basic syntax of the SELECT statement is as follows:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

### **ANS 5:**

In a relational database, a primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to enforce the integrity and uniqueness of the data stored in a table.
For example, consider a table named employees that contains information about employees in a company. A primary key for this table could be the employee ID, which is a unique identifier for each employee in the company.

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between two tables and enables the creation of a parent-child relationship between them. 
For example, consider two tables named orders and customers. The orders table contains information about orders placed by customers, and the customers table contains information about customers. The orders table can have a foreign key column that refers to the primary key of the customers table. This establishes a link between the two tables, and enables the creation of a parent-child relationship between them.

In [ ]:
import mysql.connector

# Connect to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch all rows using fetchall() method
result = mycursor.fetchall()

# Print the result
for row in result:
  print(row)

### Question 7 

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT/OFFSET